@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "./includes/color";
@import "./includes/header";
@import "./includes/mainPage";
@import "./includes/footer";


html{
    width: 100vw;
    overflow-x: hidden;
}
.he-ad{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 20px 0px;
    line-height: 1.4;
    @media (min-width:650px) {
        font-size: 40px;
    }
    span{
        color: $color1;
    }
}
p{
    line-height: 1.7;
    font-size: 15px !important;
}

.inf{
    color: white;
    font-size: 18px;
    // font-weight: 500;
    line-height: 2;
    @media (min-width:650px) {
        // margin-bottom: 40px;
    }
}




@media (max-width:500px) {
    .wr-ap{
        padding: 0px 10px;
    }
}
@media (min-width:500px) {
    .wr-ap{
        padding: 0px 15px;
    }
}
@media (min-width:700px) {
    .wr-ap{
        padding: 0px 20px;
    }
}
@media (min-width:1000px) {
    .wr-ap{
        padding: 0px 30px;
    }
}
@media (min-width:1200px) {
    .wr-ap{
        padding: 0px 50px;
    }
}
@media (min-width:1500px) {
    .wr-ap{
        padding: 0px 70px;
    }
}


body{
    font-family:'Montserrat', sans-serif; 
    width: 100vw !important;
    overflow-x: hidden !important;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif; 
}
img{
    width: 100%;
    display: none;
}
a{
    text-decoration: none;
}


.stbt{
    background: black;
    margin-bottom: 10px;
    padding: 15px 10px !important;
    color: white;
    font-weight: 600;
    font-size: 18px;
    span{
        color: $color1;
        margin-right: 20px;
    }
    &::after{
        // content:'+' !important;
    }
}


.accordion-button:not(.collapsed)::after{
    // content: '+' !important;
    // background: white !important;
    background-image: url(../asset/img/down.png) !important;
}

.accordion-button::after{
    // content: '+' !important;
    // background: white !important;
    background-image: url(../asset/img/up.png) !important;
}


.accordion-button:not(.collapsed){
    color: white;
    background: black;
    border: none !important;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-body{
    border: 1px solid rgba(153, 153, 153, 0.1);
    margin-top: 0 !important;
    box-shadow: none !important;
    line-height: 1.7 ;
}

.accordion-button{
    margin-bottom: 0px !important;
    border-radius: 5px !important;
    padding: 20px 15px !important;
    
}

.accordion-item{
    margin-bottom: 10px;
}